extends ./layout.jade

block scripts
    script.
        //var socket = io.connect('http://localhost:3000');
        var socket = io();
        socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
            });

block title
    title Article Title

block content
    p= content

    //#diagram
    //script.
    //    var diagram = Diagram.parse("A->B: Does something");
    //    diagram.drawSVG('diagram');

    .diagram.
        participant B
        participant A
        A->B: Message
        A->B: Message
        A->B: Message
        A->B: Message

    #diagram

    script.
        $(".diagram").sequenceDiagram({theme: 'simple'});

        var messageFeed = [];
        messageFeed.push('A->B nu');
        socket.on('newMessage', function(data) {
            console.log(data);
            messageFeed.push(data);
        });

        var diagram = Diagram.parse(messageFeed.join("\n"));
        console.log(messageFeed.join("\n"));
        diagram.drawSVG('diagram');

    p das ist ein text
    script.
        console.log($("#hasdfalloechen").text());
    script#halloechen(type='text/jumly+sequence')
        | @found "You", ->
        |   @message "get", "JUMLY"
        |   @message "get", "JUMLY"
    p haha

    #fa(data-jumly='text/jumly+sequence', style='display:none;')
        | @found "You", ->
        |   @message "get", "JUMLY"
        |   @message "get", "JUMLY"
    script.
        console.log($("#fa").text(), 'hi');
        $("#fa").append('\n  @message "get", "JUm"');
        setInterval(function(){
          $("#fa").append('\n  @message "get", "JUm"');
          JUMLY.eval($("#fa"), {into: "#yumliholder"});
        },500);
        console.log($("#fa").text(), 'hi');
    #yumli
        | @found "You", ->
        |   @message "get", "JUMLY"
        |   @message "get", "JUMLY"
    #yumliholder
    script(type='text/coffescript').
        | JUMLY.eval $("#yumliholder"), into:"#yumli"


