extends ./layout.jade

block scripts
    script.
        //var socket = io.connect('http://localhost:3000');
        var socket = io();

block title
    title Article Title

block content
    p content

    pre#snifferHeader
    pre#sniffer

    script(type='text/javascript').

        socket.on('line', function (data) {
            $('#sniffer').append(data + '\n');
        });
        socket.on('header', function (data) {
            $('#snifferHeader').text(data + '\n');
        });


        //        Parser.prototype.append
