extends ./layout-sbadmin2.jade

block content
    p content
    .row
        .col-lg-12
            pre#snifferHeader
            pre#sniffer

    script(type='text/javascript').

        socket.on('line', function (data) {
            $('#sniffer').append(data + '\n');
        });
        socket.on('header', function (data) {
            $('#snifferHeader').text(data + '\n');
        });


        //        Parser.prototype.append
