.navbar-default.sidebar(role='navigation')
    .sidebar-nav.navbar-collapse
        ul#side-menu.nav
            li.sidebar-search
                .input-group.custom-search-form
                    input.form-control(type='text', placeholder='Search...')
                    span.input-group-btn
                        button.btn.btn-default(type='button')
                            i.fa.fa-search
                // /input-group
            li
                a(href='index.html')
                    i.fa.fa-dashboard.fa-fw
                    |  Dashboard

    // /.sidebar-collapse
// /.navbar-static-side